h1, h2 {
    color: #5fcffc;
    background-color: rgb(160, 233, 160);
    /* background: orange; */ /*-background does a lot more than background-color*/
}

button {
    color: teal;
    background-color: #a8dadc;
}

p {
    color: rgb(86, 128, 191);
}

body{
    background-color: #f1faee; /* #c5e = #cc55ee */
}

#signup {
    background-color: #1d1d1d;
    color: #f1faee
}

span {
    color: #457b9d;
}

.tag{
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* Descendant Selector: only for a in p*/
p a{
    color: #457b9d;
}

/* Adjacent Selector: button right after input*/
input + button {
    background-color: pink;
}
/* Direct Selector: only the first children a of body*/
body > a {
    color: red;
}