h1, h2 {
    color: #5fcffc;
    background-color: rgb(0, 200, 0);
    /* background: orange; */ /*-background does a lot more than background-color*/
}

button {
    color: teal;
    background-color: #a8dadc;
}

p {
    color: rgb(86, 128, 191);
}

body{
    background-color: #f1faee; /* #c5e = #cc55ee */
}

#signup {
    background-color: #1d1d1d;
    color: #f1faee
}