h2 {
    color: #5fcffc;
    background-color: rgb(89, 151, 0);
    <!--background: orange;--> <!--background does a lot more than background-color-->
}

button {
    color: teal;
    background-color: cyan;
}

p {
    color: rgb(86, 128, 191);
}