h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    /* multiple options follow by a space*/
    text-decoration: #cfe overline underline;
    letter-spacing: 15px;
    font-size: 50px;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;

    /* Verdana is the first option, if it is not available, use Futura */
    font-family: Verdana, Futura; 
}